# dependencies
node_modules/
.npm-cache/
.npm-local/

# Next.js
.next/
out/

# env
.env*.local

# debug / OS
.DS_Store
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
